<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MySuite">
    <parameter name="browser" value="firefox"></parameter>
    <listeners>
        <listener class-name="listeners.TestListeners"></listener>
    </listeners>
    <test name="BrowserTest">
        <classes>
            <class name="Test.WikipideaSearchTest"/>
        </classes>
    </test>
</suite>
